<p>
    <strong>Author:</strong>
    <%= comment.commenter %>
</p>

<p>
    <strong>Instructions:</strong>
    <%= comment.body %>
</p>

<p>
    <%= link_to 'Delete Instructions', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>