// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 40px;
    color: #4A6670;
    text-align: center;
}

body
{
    background: #A0AF84;
}

.welcomeparagraph {
    text-align: center;
    color: #4A6670;
}

html {
    font-family: Arial;
}

.image1 {
    width: 300px;
    display: inline-block;
    padding-left: 70px;
    padding-bottom: 10px;
}

.image2 {
    width: 300px;
    display: inline-block;
    padding-left: 70px;
    padding-bottom: 10px;
}

.image3 {
    width: 300px;
    display: inline-block;
    padding-left: 70px;
}

.recipeimage {
    width: 555px;
    float: left;
    margin-left: 15%;
}

.myrecipeslink {
    text-align: center;
}