// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 32px;
    color: #4A6670;
}

body
{
    background: #A0AF84;
}

.image1 {
    width: 300px;
}

.image2 {
    float: right;
    width: 300px;
}